<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./news-article.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <title>News - Article</title>
</head>
<body>
 
    <header class="header">
        <nav class="header__navbar">

            <a href="/index.html" class="header__navbar-logo-link">
                <img src="/img/About/header_logo.svg" alt="logo" class="header__navbar-logo">
            </a>

            <nav class="header__navbar-menu">
                <a class="navbar-menu-item" href="/components/About/about.html">About Us</a>
                <a class="navbar-menu-item" href="/components/Services/services.html">Services</a>
                <a class="navbar-menu-item" href="/components/Work/work.html">Work</a>
                <a class="navbar-menu-item" href="/components/News//news.html">News</a>
                <a class="navbar-menu-item" href="/components/Contacts/contacts.html">Contacts</a>
            </nav>

            <div class="navbar-call">
                <div class="navbar-call-block" id="navbar-call-phone">
                    <img src="/img/News/header_mob.phone-icon.svg" alt="icon" class="navbar-call-icon">
                    <div class="navbar__contact">
                        <div class="navbar-call-label">Call us</div>
                        <div class="navbar-call-contact">(405) 555-0128</div>
                    </div>
                </div>

                <div class="navbar-call-block" id="navbar-call-email">

                    <img src="/img/News/header_chat-icon.svg" alt="icon" class="navbar-call-icon">
                    <div class="navbar__contact">
                        <div class="navbar-call-label">Talk to us</div>
                        <div class="navbar-call-contact">hello@createx.com</div>
                    </div>
                </div>
            </div>

        </nav>
    </header>

    <main class="main">

        <section class="intro">
            <div class="intro__container">
                <nav class="navigation__links">
                    <a href="/index.html" class="navigation__link" id="visited">Homepage</a>
                    <p class="navigation__links_divider">/</p>
                    <a href="/components/News/news.html" class="navigation__link" id="visited">News</a>
                    <p class="navigation__links_divider">/</p>
                    <a href="#" class="navigation__link">
                        How to Build Climate Change-Resilient Infrastructure
                    </a>
                </nav>
                <h1 class="intro__title">
                    How to Build Climate Change-Resilient Infrastructure
                </h1>
                <div class="intro__meta">
                    <p class="intro__meta-category">Industry News</p>
                    <img src="../../img/News/categories_card-divider.png" alt="icon" class="intro__meta-divider">
                    <div class="intro__meta-date">June 24, 2020</div>
                    <img src="../../img/News/categories_card-divider.png" alt="icon" class="intro__meta-divider">
                    <img src="../../img/News/chat-icon.svg" alt="icon" class="intro__meta-icon">
                    <p class="intro__meta-comments">4 comments</p>
                </div>
                <img src="../../img/News/article_intro-image.png" alt="img" class="intro__img">
            </div>
        </section>

        <section class="article">

            <h3 class="article__intro">
                Vulputate vitae pellentesque scelerisque luctus consequat mattis pellentesque dui odio. Interdum aenean sit malesuada ornare sed gravida rhoncus, congue. Purus auctor nullam diam quis est hendrerit ac euismod. 
            </h3>

            <p class="article__paragraph">
                At facilisi sapien posuere eget nunc senectus proin nullam. Tortor senectus in et sagittis, vitae diam cras dignissim. Varius adipiscing eget diam nisi. Orci, consectetur vulputate metus ornare pharetra, neque, fermentum. Vel nec rhoncus, non nunc, neque in massa. Feugiat leo nam nisl lacinia amet, odio. Mi varius viverra risus vel.
                <br>
                Amet, morbi sed pharetra, elit eget mi potenti. Condimentum orci interdum feugiat lectus libero duis. Nisl massa, elementum varius sit. Nunc felis, porttitor aliquam urna, accumsan et sed. Aliquet non sed duis diam vehicula rhoncus. In dictum nullam tincidunt semper pellentesque purus morbi sed. Ut aliquet velit pharetra, nisi nunc, non.
            </p>

            <div class="article__quot">
                <img src="../../img/News/article_quotation-mark.svg" alt="icon" class="quotations">
                <p class="quote__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus  facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in tot euismod vulputate etiam eros. Vel accumsan at elit neque, ipsum.
                </p>
            </div>

            <p class="article__paragraph">
                Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut sed id ut erat mattis. Vitae mus blandit in neque amet non fringilla blandit:
            </p>

            <ul class="bullet__list">
                <li class="bullet__list-item">
                    <img src="../../img/News/article_check-mark.svg" alt="icon" class="list-item-icon">
                    <p class="list-item-text">
                        A fermentum in morbi pretium aliquam adipiscing donec tempus.
                    </p>
                </li>

                <li class="bullet__list-item">
                    <img src="../../img/News/article_check-mark.svg" alt="icon" class="list-item-icon">
                    <p class="list-item-text">
                        Vulputate placerat amet pulvinar lorem nisl.
                    </p>
                </li>

                <li class="bullet__list-item">
                    <img src="../../img/News/article_check-mark.svg" alt="icon" class="list-item-icon">
                    <p class="list-item-text">
                        Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
                    </p>
                </li>

                <li class="bullet__list-item">
                    <img src="../../img/News/article_check-mark.svg" alt="icon" class="list-item-icon">
                    <p class="list-item-text">
                        Etiam duis lobortis in fames ultrices commodo nibh.
                    </p>
                </li>
            </ul>

            <p class="article__paragraph">
                Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id nec sed leo. Nisi in ornare lectus eget. Urna, risus, consectetur volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur neque ut aliquam eros, purus enim dignissim aenean vitae. Ultrices fames augue mattis tortor est justo, pharetra nibh risus. Facilisi at porttitor volutpat natoque proin amet, nulla. Vivamus ut lobortis sagittis curabitur tellus convallis eget netus vitae.
            </p>

            <div class="socials">
                <span class="socials__span">Share:</span>
                <img src="/img/News/article_social-icon-facebook.svg" alt="icon" class="social">
                <img src="/img/News/article_social-icon-linked-in.svg" alt="icon" class="social">
                <img src="/img/News/article_social-icon-twitter.svg" alt="icon" class="social">
            </div>

        </section>

        <section class="comments">

            <h2 class="comments__title">4 comments</h2>

            <div class="comment">
                <div class="user">
                    <div class="user__name">Devon Lane</div>
                    <p class="visit-date">July 15, 2020</p>
                </div>
                <div class="comment__block">
                    <p class="comment__text">
                        Phasellus varius faucibus ultrices odio in. Massa neque dictum natoque ornare rutrum malesuada et phasellus. Viverra natoque nulla cras vel nisl proin senectus. Tortor sed eleifend ante tristique felis sed urna aliquet. Suspendisse fames egestas sed duis purus diam et.
                    </p>
                    <img src="../../img/News/comment_reply-icon.svg" alt="icon" class="comment__reply-btn">
                </div>
            </div>

            <div class="comment">
                <div class="user">
                    <div class="user__name">Annette Black</div>
                    <p class="visit-date">1 day ago</p>
                </div>
                <div class="comment__block">
                    <p class="comment__text">
                        <span>@Devon Lane</span> Egestas fermentum natoque sollicitudin mauris. Facilisis praesent urna sed rhoncus quis pharetra pellentesque erat sagittis.
                    </p>
                    <img src="../../img/News/comment_reply-icon.svg" alt="icon" class="comment__reply-btn">
                </div>
            </div>

            <div class="comment">
                <div class="user">
                    <div class="user__name">Albert Flores</div>
                    <p class="visit-date">July 7, 2020</p>
                </div>
                <div class="comment__block">
                    <p class="comment__text">
                        Libero commodo sit dui ac proin. Penatibus ultricies at adipiscing mauris nunc. Fames faucibus nisl duis id diam.
                    </p>
                    <img src="../../img/News/comment_reply-icon.svg" alt="icon" class="comment__reply-btn">
                </div>
            </div>

            <div class="comment">
                <div class="user">
                    <div class="user__name">Marvin McKinney</div>
                    <p class="visit-date">June 28, 2020</p>
                </div>
                <div class="comment__block">
                    <p class="comment__text">
                        Ullamcorper nibh sed ac ipsum nunc imperdiet rhoncus. Quam donec habitant nibh sit consequat erat libero, tincidunt. Eros ut aliquam proin et duis. Mauris, egestas congue nibh dui a nulla.
                    </p>
                    <img src="../../img/News/comment_reply-icon.svg" alt="icon" class="comment__reply-btn">
                </div>
            </div>
        </section>

        <section class="comment__post-form">

            <h2 class="post-form__title">Leave your comment</h2>

            <div class="post-form">

                <div class="input-forms">
                    <div class="post-form-input">
                        <p class="post-form__label">Name*</p>
                        <input class="post-form__input" id="name" placeholder="Your name"></input>
                    </div>
                    
                    <div class="post-form-input">
                        <p class="post-form__label">Email*</p>
                        <input class="post-form__input" id="email" placeholder="Your working email"></input>
                    </div>
                </div>

                <div class="comment-form">
                    <p class="post-form__label">Your comment*</p>
                    <input class="comment-form__input" id="comment" placeholder="Type comment here"></input>
                </div>

            </div>

            <button class="post-btn">POST COMMENT</button>

        </section>

        <section class="application">
        
            <fieldset class="app__form">

                <div class="app__form-container">

                    <h2 class="app__form-title">A quick way to discuss details</h2>

                    <div class="app__form-input">
                        <p class="app__form-input-label">Name*</p>
                        <input type="text" class="form__input" placeholder="Your name">
                    </div>

                    <div class="app__form-input">
                        <p class="app__form-input-label">Phone*</p>
                        <input type="text" class="form__input" placeholder="Your phone number">
                    </div>

                    <div class="app__form-input">
                        <p class="app__form-input-label">Email</p>
                        <input type="text" class="form__input" placeholder="Your working email">
                    </div>

                    <div class="app__form-input">
                        <p class="app__form-input-label">Message*</p>
                        <input type="text" class="form__input" placeholder="Your message">
                    </div>

                    <div class="checkbox__form">
                        <input type="checkbox" class="checkbox">
                        <p class="checkbox__span">
                            I agree to receive communications from Createx Construction Bureau.
                        </p>
                    </div>
                    
                    <button class="application__submit-btn">Send request</button>

                </div>

            </fieldset>

        </section>

        <footer class="footer">

            <div class="footer__container">

                <div class="block1">

                    <div class="block1__mission">
                        <div class="block1__mission-logo">
                            <img src="/img/News/footer_logo.svg" alt="logo" class="mission-logo">
                            <ul class="block1__mission-socials">
                                <li class="social-icon">
                                    <img src="/img/News/footer_WhatsApp-icon.svg" alt="icon" class="social-icon-whatsapp">
                                </li>
                                <li class="social-icon">
                                    <img src="/img/News/footer_Messenger-icon.svg" alt="icon" class="social-icon-messenger">
                                </li>
                                <li class="social-icon">
                                    <img src="/img/News/footer_Facebook-icon.svg" alt="icon" class="social-icon-facebook">
                                </li>
                                <li class="social-icon">
                                    <img src="/img/News/footer_Twitter-icon.svg" alt="icon" class="social-icon-twitter">
                                </li>
                                <li class="social-icon">
                                    <img src="/img/News/footer_Youtube-icon.svg" alt="icon" class="social-icon-twitter">
                                </li>
                            </ul>
                        </div>
                        <p class="block1__mission-text">
                            Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service. Our mission is to set the highest standards for construction sphere.
                        </p>
                    </div>

                    <div class="block1__subsribe">
                        <p class="subscribe__label">Let's stay in touch</p>
                        <div class="subscribe__block">
                            <input type="text" class="subscribe__form" placeholder="Your email address">
                            <button class="subscribe__btn">subscribe</button>
                        </div>
                        <span class="subscribe__comment">
                            *Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.
                        </span>
                    </div>

                </div>

                <div class="block2">

                    <div class="address">
                        <p class="heading">head office</p>
                        <p class="line"><span>Address: </span>8502 Preston Rd. Inglewood, New York</p>
                        <p class="line"><span>Call: </span>(405) 555-0128</p>
                        <p class="line"><span>Email: </span>hello@createx.com</p>
                    </div>

                    <div class="contacts">
                        <p class="heading">who we are</p>
                        <ul class="lines">
                            <li class="line">About us</li>
                            <li class="line">Available Position</li>
                            <li class="line">Contacts</li>
                        </ul>
                    </div>

                    <div class="experience">
                        <p class="heading">our experience</p>
                        <ul class="lines">
                            <li class="line">Services</li>
                            <li class="line">Work</li>
                            <li class="line">News</li>
                        </ul>
                    </div>

                </div>

                <div class="block3">

                    <div class="copyright">
                        <p class="copyright-span">© All rights reserved. Made with <span><img src="/img/News/footer_heart-icon.svg" alt="icon" class="heart-icon"></span> by Createx Studio </p>
                    </div>

                    <div class="navigation-btn">
                        <p class="navigation-span">GO TO TOP</p>
                        <img src="/img/News/footer_up-btn.svg" alt="icon" class="up-btn">
                    </div>

                </div>

            </div>

        </footer>

    </main>
    
</body>
</html>