<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./work_modern-cottage.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <title>Work - Modern Cottage</title>
</head>
<body>

    <header class="header">
        <nav class="header__navbar">
            <img src="../../img/header_logo.svg" alt="logo" class="header__navbar-logo">
            <ul class="header__navbar-menu">
                <li class="navbar-menu-item">About Us</li>
                <li class="navbar-menu-item">Services</li>
                <li class="navbar-menu-item">Work</li>
                <li class="navbar-menu-item">News</li>
                <li class="navbar-menu-item">Contacts</li>
            </ul>
            <div class="navbar-call">

                <div class="navbar-call-block" id="navbar-call-phone">

                    <img src="../../img/header_mob.phone-icon.svg" alt="icon" class="navbar-call-icon">

                    <div class="navbar__contact">
                        <div class="navbar-call-label">Call us</div>
                        <div class="navbar-call-contact">(405) 555-0128</div>
                    </div>

                </div>

                <div class="navbar-call-block" id="navbar-call-email">

                    <img src="../../img/header_chat-icon.svg" alt="icon" class="navbar-call-icon">

                    <div class="navbar__contact">
                        <div class="navbar-call-label">Talk to us</div>
                        <div class="navbar-call-contact">hello@createx.com</div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="intro">

        <div class="intro__background">
            <img src="../../img/Work/cottage_background.png" alt="img" class="intro__background-img">
        </div>

        <div class="intro__container">

            <nav class="navigation__links">
                <a href="#" class="navigation__link" id="visited">Homepage</a>
                <p class="navigation__links_divider">/</p>                <a href="#" class="navigation__link" id="visited">Work</a>
                <p class="navigation__links_divider">/</p>                <a href="#" class="navigation__link">Modern Cottage</a>
            </nav>

            <h1 class="intro__title">Modern Cottage</h1>

            <div class="gallery">
                <img src="../../img/Work/cottage_intro-background.png" alt="img" class="gallery__img">
                <div class="slider__controls">
                    <img src="../../img/Work/silder_prev-btn.svg" alt="icon" class="controls__icon">
                    <img src="../../img/Work/slider_next-btn.svg" alt="icon" class="controls__icon">
                </div>
                </div>
            </div>

            <div class="thumbnails">
                <img src="../../img/Work/thumbnails_img1.png" alt="img" class="thumbnails__img">
                <img src="../../img/Work/thumbnails_img2.png" alt="img" class="thumbnails__img">
                <img src="../../img/Work/thumbnails_img3.png" alt="img" class="thumbnails__img">
                <img src="../../img/Work/thumbnails_img4.png" alt="img" class="thumbnails__img">
                <img src="../../img/Work/thumbnails_img5.png" alt="img" class="thumbnails__img">
                <img src="../../img/Work/thumbnails_img6.png" alt="img" class="thumbnails__img">
            </div>

        </div>

    </section>

    <section class="goal">

        <div class="goal__description">
            <h2 class="goal__description-title">Project goal</h2>
            <p class="goal__description-text">
                Build a private house 840 sq. feet with a large living room, three bedrooms, two bathrooms, a terrace, a pool and a garage for two cars.
            </p>
            <br>
            <p class="goal__description-text">
                Modern design and care for each family member to feel as comfortable as possible in the new home.
            </p>
        </div>

            <div class="goal__details">

                <div class="goal__details-headings">
                    <p class="goal__details-heading">LOCATION</p>
                    <p class="goal__details-heading">CLIENT</p>
                    <p class="goal__details-heading">ARCHITECT</p>
                    <p class="goal__details-heading">SIZE</p>
                    <p class="goal__details-heading">VALUE</p>
                    <p class="goal__details-heading">COMPLETED</p>
                </div>

                <div class="goal__details-facts">
                    <p class="goal__details-fact">2464 Royal Ln. Mesa, New Jersey</p>
                    <p class="goal__details-fact">Darlene Robertson</p>
                    <p class="goal__details-fact">HIK Architecture</p>
                    <p class="goal__details-fact">840 sq. feet</p>
                    <p class="goal__details-fact">$2 million</p>
                    <p class="goal__details-fact">May 2020</p>
                </div>

            </div>

    </section>

    <div class="decisions__background">
        <section class="decisions">

            <img src="../../img/Work/decisions_image.png" alt="img" class="decision__img">

            <div class="decisions__list">

                <h2 class="decision__list-title">Constructive decisions</h2>

                <div class="decision__item">
                    <img src="../../img/Work/decisions_check-mark.svg" alt="icon" class="decision__item-icon">
                    <p class="decision__item-text">
                        Vitae ultrices ornare eu sed in est quisque duis id.
                    </p>
                </div>

                <div class="decision__item">
                    <img src="../../img/Work/decisions_check-mark.svg" alt="icon" class="decision__item-icon">
                    <p class="decision__item-text">
                        A fermentum in morbi pretium aliquam adipiscing donec tempus.
                    </p>
                </div>

                <div class="decision__item">
                    <img src="../../img/Work/decisions_check-mark.svg" alt="icon" class="decision__item-icon">
                    <p class="decision__item-text">
                        Mauris odio pellentesque commodo, diam.
                    </p>
                </div>

                <div class="decision__item">
                    <img src="../../img/Work/decisions_check-mark.svg" alt="icon" class="decision__item-icon">
                    <p class="decision__item-text">
                        Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.
                    </p>
                </div>

                <div class="decision__item">
                    <img src="../../img/Work/decisions_check-mark.svg" alt="icon" class="decision__item-icon">
                    <p class="decision__item-text">
                        At pharetra libero blandit risus, fringilla sed commodo diam.
                    </p>
                </div>

                <div class="decision__item">
                    <img src="../../img/Work/decisions_check-mark.svg" alt="icon" class="decision__item-icon">
                    <p class="decision__item-text">
                        Integer ultricies viverra ut enim viverra ut.
                    </p>
                </div>
            </div>

        </section>
    </div>

    <section class="cards">
        <div class="cards__container">
            <div class="card">
                <img src="../../img/Work/card3_image.png" alt="" class="card__img">
                <h3 class="card__title">Luxury Beach House</h3>
                <p class="card__subtitle">Private houses</p>
            </div>

            <div class="card">
                <img src="../../img/Work/card9_image.png" alt="" class="card__img">
                <h3 class="card__title">Brown and Gray Painted House</h3>
                <p class="card__subtitle">Private houses</p>
            </div>

            <div class="card">
                <img src="../../img/Work/card8_image.png" alt="" class="card__img">
                <h3 class="card__title">Scandinavian Style Interior</h3>
                <p class="card__subtitle">Private houses</p>
            </div>
        </div>

        <div class="related-projects__learn-more">
            <p class="related-projects__learn-more-text">Explore all our works</p>
            <button class="submit-btn" id="related-projects__submit-btn">View portfolio</button>
        </div>
    </section>

    <section class="application">
        <fieldset class="app__form">
            <div class="app__form-container">
                <h2 class="app__form-title">A quick way to discuss details</h2>
                <div class="app__form-input">
                    <p class="app__form-input-label">Name*</p>
                    <input type="text" class="form__input" placeholder="Your name">
                </div>

                <div class="app__form-input">
                    <p class="app__form-input-label">Phone*</p>
                    <input type="text" class="form__input" placeholder="Your phone number">
                </div>

                <div class="app__form-input">
                    <p class="app__form-input-label">Email</p>
                    <input type="text" class="form__input" placeholder="Your working email">
                </div>

                <div class="app__form-input">
                    <p class="app__form-input-label">Message*</p>
                    <input type="text" class="form__input" placeholder="Your message">
                </div>

                <div class="checkbox__form">
                    <input type="checkbox" class="checkbox">
                    <p class="checkbox__span">
                        I agree to receive communications from Createx Construction Bureau.
                    </p>
                </div>
                
                <button class="submit-btn">Send request</button>
            </div>
        </fieldset>
    </section>

    <footer class="footer">
        <div class="footer__container">
            <div class="block1">
                <div class="block1__mission">
                    <div class="block1__mission-logo">
                        <img src="../../img/footer_logo.svg" alt="logo" class="mission-logo">
                        <ul class="block1__mission-socials">
                            <li class="social-icon">
                                <img src="../../img/footer_WhatsApp-icon.svg" alt="icon" class="social-icon-whatsapp">
                            </li>
                            <li class="social-icon">
                                <img src="../../img/footer_Messenger-icon.svg" alt="icon" class="social-icon-messenger">
                            </li>
                            <li class="social-icon">
                                <img src="../../img/footer_Facebook-icon.svg" alt="icon" class="social-icon-facebook">
                            </li>
                            <li class="social-icon">
                                <img src="../../img/footer_Twitter-icon.svg" alt="icon" class="social-icon-twitter">
                            </li>
                            <li class="social-icon">
                                <img src="../../img/footer_Youtube-icon.svg" alt="icon" class="social-icon-twitter">
                            </li>
                        </ul>
                    </div>
                    <p class="block1__mission-text">
                        Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service. Our mission is to set the highest standards for construction sphere.
                    </p>
                </div>

                <div class="block1__subsribe">
                    <p class="subscribe__label">Let's stay in touch</p>
                    <div class="subscribe__block">
                        <input type="text" class="subscibe__form" placeholder="Your email address">
                        <button class="subscribe__btn">subscribe</button>
                    </div>
                    <span class="subscribe__comment">
                        *Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.
                    </span>
                </div>

            </div>

            <div class="block2">
                <div class="address">
                    <p class="heading">head office</p>
                    <p class="line"><span>Address: </span>8502 Preston Rd. Inglewood, New York</p>
                    <p class="line"><span>Call: </span>(405) 555-0128</p>
                    <p class="line"><span>Email: </span>hello@createx.com</p>
                </div>

                <div class="contacts">
                    <p class="heading">who we are</p>
                    <ul class="lines">
                        <li class="line">About us</li>
                        <li class="line">Available Position</li>
                        <li class="line">Contacts</li>
                    </ul>
                </div>

                <div class="experience">
                    <p class="heading">our experience</p>
                    <ul class="lines">
                        <li class="line">Services</li>
                        <li class="line">Work</li>
                        <li class="line">News</li>
                    </ul>
                </div>
            </div>

            <div class="block3">
                <div class="copyright">
                    <p class="copyright-span">© All rights reserved. Made with <span><img src="../../img/footer_heart-icon.svg" alt="icon" class="heart-icon"></span> by Createx Studio </p>
                </div>

                <div class="navigation-btn">
                    <p class="navigation-span">GO TO TOP</p>
                    <img src="../../img/footer_up-btn.svg" alt="icon" class="up-btn">
                </div>
            </div>
        </div>
    </footer> 
    
</body>
</html>