body {
    max-width: 1920px;
    background-color: #fff;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    color: #1E212C;
    margin: 0 auto;
}

/* Header */

.header {
    padding-top: 20px;
    margin: 0 345px 80px;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-logo-link {
    margin-right: 60px;
}
.header__navbar-logo {
    cursor: pointer;
}
.header__navbar-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 447px;
    margin-right: 172px;
}
.navbar-menu-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-right: 40px;
    cursor: pointer;
}
.navbar-menu-item:hover {
    color: #FF5A30;
}
.navbar-menu-item:last-child {
    margin-right: 0;
}

.navbar-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 421px;
}
.navbar-call-block {
    display: flex;
    width: 175px;
}
#navbar-call-phone {
    margin-right: 36px;
}
.navbar-call-icon {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}
.navbar__contact {
    display: flex;
    flex-direction: column;
}
.navbar-call-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #424551;
}
.navbar-call-contact {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #1E212C;
}
#navbar-call-email {
    width: 210px;
    cursor: pointer;
}

/* Main */

main {
    margin-top: -152px;
    z-index: -10;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;

    width: 1920px;
    height: 600px;

    background-image: url('/img/Services/intro_background.png');
    background-repeat: no-repeat;
    margin-bottom: 120px;
}
.intro__container {
    width: 600px;
    height: 269px;
    margin: 152px 345px 176px;
}
.navigation__links {
    display: flex;
    align-items: left;
    margin-bottom: 40px;
}
.navigation__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9A9CA5;
}
#visited {
    color: #424551;
}
.navigation__links_divider {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9A9CA5;
    margin: 0 8px 0;
}
.intro__title {
    width: 600px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #1E212C;
    margin-bottom: 24px;
}
.intro__text {
    width: 600px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #787A80;
}

/* Cards */

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 2040px;
    margin: 120px 345px 181px;
}
.cards__background1 {
    position: absolute;
    background: url('../../img/Services/cards_bg-image1.png');
    opacity: 0.3;
    transform: translateX(150%) translateY(41%);
}
.cards__background2 {
    position: absolute;
    background: url('../../img/Services/cards_bg-image2.png');
    transform: translateX(-186%) translateY(157%);
}
.card {
    display: flex;
    margin: 0 345px 120px;
    width: 1230px;
    height: 420px;
    gap: 80px;
}
.card:last-child {
    margin-bottom: 0;
}
.card__info-img {
    width: 575px;
    height: 420px;
}
.card__info-construction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    width: 575px;
    height: 268px;
    margin: 76px 0 0;
}
.card__info-design {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    width: 575px;
    height: 268px;
    margin: 63px 0 0;
}
.card__info-project,
.card__info-repairs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    width: 575px;
    height: 242px;
    margin: 89px 30px 89px 0;
}
.card__info-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 24px;
}
.card__info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
    margin-bottom: 48px;
}
.cards__learn-more-btn {
    width: 160px;
    height: 44px;
    border: 1px solid #FF5A30;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FF5A30;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    cursor: pointer;
}
.cards__learn-more-btn:hover {
    background: #FF5A30;
    color: #fff;
}


/* Application */

.application {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    height: 826px;
    background-image: url('../../img/Services/application_background.png');
    background-repeat: no-repeat;
    background-color: #fff;
    margin-bottom: 0;
}
.app__form-title {
    width: 415px;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    text-align: center;
    color: #1E212C;
    margin-bottom: 24px;
}
.app__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 495px;
    height: 666px;
    background-color: #fff;
    margin: 80px 345px 80px 1080px;

    border: 1px solid #E5E8ED;
    box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
}
.app__form-container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 415px;
    height: 560px;
    margin: 47px 40px;
}
.app__form-input {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 415px;
    margin-bottom: 20px;
}
.form__input {
    height: 44px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    background: #F4F5F7;
    padding: 11px 16px 12px;
}
.form__input.message {
    height: 66px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    background: #F4F5F7;
    padding: 11px 16px 34px;
}
.app__form-input-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
    margin-bottom: 8px;
}
.checkbox__form {
    display: flex;
    width: 415px;
    margin-bottom: 24px;
}
.checkbox {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    background: #FF5A30;
    border: 1px solid #FF5A30;
    border-radius: 3px;
}
.checkbox__span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
}
.application__submit-btn {
    width: 174px;
    height: 44px;
    bottom: 48px;
    background: #FF5A30;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.application__submit-btn:hover {
    background: rgb(255, 90, 48, 0.5);
}

/* Footer */

.footer {
    display: flex;
    width: 1920px;
    height: 586px;
    background-color: #1E212C;
    margin-top: 0;
}

.footer__container {
    width: 1230px;
    height: 406px;
    margin: 80px 345px;
}

.block1 {
    display: flex;
    margin-bottom: 49px;
}
.block1__mission {
    display: flex;
    flex-direction: column;
    width: 492px;
    margin-right: 242px;
}
.block1__mission-logo {
    display: flex;
    align-items: center;
    margin-right: 242px;
    margin-bottom: 24px;
    cursor: pointer;
}
.mission-logo {
    margin-right: 60px;
}
.block1__mission-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 184px;
}
.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}
.social-icon:hover {
    transform: scale(1.5);
}
.social-icon:last-child {
    margin-right: 0;
}
.block1__mission-text {
    width: 493px;
    height: 84px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
}

.block1__subsribe {
    width: 4695px;
}
.subscribe__label {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.subscribe__block {
    display: flex;
    margin-bottom: 16px;
}
.subscibe__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 364px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: #fff;
    padding-left: 16px;
}
.subscribe__comment {
    width: 495px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #FFFFFF;

opacity: 0.6;
}
.subscribe__btn {
    width: 131px;
    height: 44px;
    background: #FF5A30;
    border-radius: 0px 4px 4px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subscribe__btn:hover {
    background: rgb(255, 90, 48, 0.5);
}

.block2 {
    height: 123px;
    display: flex;
    margin-bottom: 60px;
}
.address {
    width: 352px;
    margin-right: 124px;
}
.heading {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.line {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 4px;
}
.line>span {
    font-weight: 600;
    opacity: 1;
}

.contacts {
    width: 137px;
    margin-right: 124px;
}

.experience {
    width: 152px;
    /* margin-right: 690px; */
}


.block3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1230px;
    height: 18px;
}
.heart-icon {
    margin: 0 4px;
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18px;
}
.copyright-span {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    align-items: center;
    color: #FFFFFF;
}
.navigation-btn {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 129px;
    height: 40px;
    margin-top: -22px;
    cursor: pointer;
}
.navigation-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    color: #FFFFFF;
    margin-right: 16px;
}