<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./services.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <title>Services</title>
</head>
<body>
    
    <header class="header">
        <nav class="header__navbar">
            <img src="../../img/header_logo.svg" alt="logo" class="header__navbar-logo">
            <ul class="header__navbar-menu">
                <li class="navbar-menu-item">About Us</li>
                <li class="navbar-menu-item">Services</li>
                <li class="navbar-menu-item">Work</li>
                <li class="navbar-menu-item">News</li>
                <li class="navbar-menu-item">Contacts</li>
            </ul>
            <div class="navbar-call">

                <div class="navbar-call-block" id="navbar-call-phone">

                    <img src="../../img/header_mob.phone-icon.svg" alt="icon" class="navbar-call-icon">

                    <div class="navbar__contact">
                        <div class="navbar-call-label">Call us</div>
                        <div class="navbar-call-contact">(405) 555-0128</div>
                    </div>

                </div>

                <div class="navbar-call-block" id="navbar-call-email">

                    <img src="../../img/header_chat-icon.svg" alt="icon" class="navbar-call-icon">

                    <div class="navbar__contact">
                        <div class="navbar-call-label">Talk to us</div>
                        <div class="navbar-call-contact">hello@createx.com</div>
                    </div>

                </div>

            </div>
        </nav>
    </header>

    <section class="intro">

        <div class="intro__container">

            <nav class="navigation__links">
                <a href="#" class="navigation__link" id="visited">Homepage</a>
                <p class="navigation__links_divider">/</p>
                <a href="#" class="navigation__link">Services</a>
            </nav>

            <h1 class="intro__title">Services</h1>

            <p class="intro__text">
                If you are looking for a full-service construction company, look to Createx Construction Bureau. We are doing our best to be a partner for all of your construction needs.
            </p>

        </div>

    </section>

    <section class="cards">

        <img src="../../img/Services/cards_bg-image1.png" alt="img" class="cards__background1">

        <img src="../../img/Services/cards_bg-image2.png" alt="img" class="cards__background2">

        <div class="card">
            <img src="../../img/Services/cards_img-construction.png" alt="img" class="card__info-img">
            <div class="card__info">
                <h2 class="card__info-title">Construction</h2>
                <p class="card__info-text">
                    Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id sodales ultricies sed ut ut augue. Mattis habitant venenatis, gravida posuere massa ac interdum. Eget aliquam dignissim ut vestibulum. 
                </p>
                <button class="learn-more-btn">Learn more</button>
            </div>
        </div>

        <div class="card">
            <div class="card__info">
                <h2 class="card__info-title">Project Development</h2>
                <p class="card__info-text">
                    Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet viverra in. Est nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget. 
                </p>
                <button class="learn-more-btn">Learn more</button>
            </div>
            <img src="../../img/Services/cards_img-project.png" alt="img" class="card__info-img">
        </div>

        <div class="card">
            <img src="../../img/Services/cards_img-design.png" alt="img" class="card__info-img">
            <div class="card__info">
                <h2 class="card__info-title">Interior Design</h2>
                <p class="card__info-text">
                    Eleifend orci massa et facilisis orci feugiat ac. Congue in ut lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium. 
                </p>
                <button class="learn-more-btn">Learn more</button>
            </div>
        </div>

        <div class="card">
            <div class="card__info">
                <h2 class="card__info-title">Repairs</h2>
                <p class="card__info-text">
                    Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id egestas mattis. Turpis viverra nec urna ultrices urna.
                </p>
                <button class="learn-more-btn">Learn more</button>
            </div>
            <img src="../../img/Services/cards_img-repairs.png" alt="img" class="card__info-img">
        </div>

    </section>

    <section class="application">
    
        <fieldset class="app__form">

            <div class="app__form-container">

                <h2 class="app__form-title">A quick way to discuss details</h2>

                <div class="app__form-input">
                    <p class="app__form-input-label">Name*</p>
                    <input type="text" class="form__input" placeholder="Your name">
                </div>

                <div class="app__form-input">
                    <p class="app__form-input-label">Phone*</p>
                    <input type="text" class="form__input" placeholder="Your phone number">
                </div>

                <div class="app__form-input">
                    <p class="app__form-input-label">Email</p>
                    <input type="text" class="form__input" placeholder="Your working email">
                </div>

                <div class="app__form-input">
                    <p class="app__form-input-label">Message*</p>
                    <input type="text" class="form__input" placeholder="Your message">
                </div>

                <div class="checkbox__form">
                    <input type="checkbox" class="checkbox">
                    <p class="checkbox__span">
                        I agree to receive communications from Createx Construction Bureau.
                    </p>
                </div>
                
                <button class="submit-btn">Send request</button>

            </div>

        </fieldset>

    </section>

    <footer class="footer">

        <div class="footer__container">

            <div class="block1">

                <div class="block1__mission">
                    <div class="block1__mission-logo">
                        <img src="../../img/footer_logo.svg" alt="logo" class="mission-logo">
                        <ul class="block1__mission-socials">
                            <li class="social-icon">
                                <img src="./img/footer_WhatsApp-icon.svg" alt="icon" class="social-icon-whatsapp">
                            </li>
                            <li class="social-icon">
                                <img src="./img/footer_Messenger-icon.svg" alt="icon" class="social-icon-messenger">
                            </li>
                            <li class="social-icon">
                                <img src="./img/footer_Facebook-icon.svg" alt="icon" class="social-icon-facebook">
                            </li>
                            <li class="social-icon">
                                <img src="./img/footer_Twitter-icon.svg" alt="icon" class="social-icon-twitter">
                            </li>
                            <li class="social-icon">
                                <img src="./img/footer_Youtube-icon.svg" alt="icon" class="social-icon-twitter">
                            </li>
                        </ul>
                    </div>
                    <p class="block1__mission-text">
                        Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service. Our mission is to set the highest standards for construction sphere.
                    </p>
                </div>

                <div class="block1__subsribe">
                    <p class="subscribe__label">Let's stay in touch</p>
                    <div class="subscribe__block">
                        <input type="text" class="subscibe__form" placeholder="Your email address">
                        <button class="subscribe__btn">subscribe</button>
                    </div>
                    <span class="subscribe__comment">
                        *Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.
                    </span>
                </div>

            </div>

            <div class="block2">

                <div class="address">
                    <p class="heading">head office</p>
                    <p class="line"><span>Address: </span>8502 Preston Rd. Inglewood, New York</p>
                    <p class="line"><span>Call: </span>(405) 555-0128</p>
                    <p class="line"><span>Email: </span>hello@createx.com</p>
                </div>

                <div class="contacts">
                    <p class="heading">who we are</p>
                    <ul class="lines">
                        <li class="line">About us</li>
                        <li class="line">Available Position</li>
                        <li class="line">Contacts</li>
                    </ul>
                </div>

                <div class="experience">
                    <p class="heading">our experience</p>
                    <ul class="lines">
                        <li class="line">Services</li>
                        <li class="line">Work</li>
                        <li class="line">News</li>
                    </ul>
                </div>

            </div>

            <div class="block3">

                <div class="copyright">
                    <p class="copyright-span">© All rights reserved. Made with <span><img src="./img/footer_heart-icon.svg" alt="icon" class="heart-icon"></span> by Createx Studio </p>
                </div>

                <div class="navigation-btn">
                    <p class="navigation-span">GO TO TOP</p>
                    <img src="../../img/footer_up-btn.svg" alt="icon" class="up-btn">
                </div>

            </div>

        </div>

    </footer>

</body>
</html>