<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./about-available-positions.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <title>About - Available Positions</title>
</head>
<body>

    <header class="header">
        <nav class="header__navbar">
            <img src="../../img/header_logo.svg" alt="logo" class="header__navbar-logo">
            <ul class="header__navbar-menu">
                <li class="navbar-menu-item">About Us</li>
                <li class="navbar-menu-item">Services</li>
                <li class="navbar-menu-item">Work</li>
                <li class="navbar-menu-item">News</li>
                <li class="navbar-menu-item">Contacts</li>
            </ul>
            <div class="navbar-call">

                <div class="navbar-call-block" id="navbar-call-phone">

                    <img src="../../img/header_mob.phone-icon.svg" alt="icon" class="navbar-call-icon">

                    <div class="navbar__contact">
                        <div class="navbar-call-label">Call us</div>
                        <div class="navbar-call-contact">(405) 555-0128</div>
                    </div>

                </div>

                <div class="navbar-call-block" id="navbar-call-email">

                    <img src="../../img/header_chat-icon.svg" alt="icon" class="navbar-call-icon">

                    <div class="navbar__contact">
                        <div class="navbar-call-label">Talk to us</div>
                        <div class="navbar-call-contact">hello@createx.com</div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="intro">

        <div class="intro__container">

            <nav class="navigation__links">
                <a href="#" class="navigation__link" id="visited">Homepage</a>
                <p class="navigation__links_divider">/</p>
                <a href="#" class="navigation__link" id="visited">About us</a>
                <p class="navigation__links_divider">/</p>
                <a href="#" class="navigation__link">Available positions</a>
            </nav>

            <h1 class="intro__title">AVAILABLE POSITIONS</h1>

            <p class="intro__text">
                Build your career with Createx Construction Bureau.
            </p>

        </div>

    </section>

    <section class="vacansies">

        <div class="vacansies__container">

            <div class="vacancy__card" id="operator">
                <div class="vacancy">
                    <div class="vacancy__meta">
                        <img src="../../img/About/vacancy_meta-icon.svg" alt="icon" class="vacancy__meta-icon">
                        <p class="vacancy__meta-location">New York</p>
                        <img src="../../img/About/vacancy_meta-divider.svg" alt="icon" class="vacancy__meta-divider">
                        <img src="../../img/About/vacancy_meta-clock.svg" alt="icon" class="vacancy__meta-clock">
                        <p class="vacancy__meta-employment">Full Time</p>
                    </div>
                    <p class="vacancy__meta-position">Heavy Equipment Operator</p>
                </div>
                <button class="vacancy__meta-btn">Apply now</button>
            </div>

            <div class="vacancy__card" id="analyst">
                <div class="vacancy">
                    <div class="vacancy__meta">
                        <img src="../../img/About/vacancy_meta-icon.svg" alt="icon" class="vacancy__meta-icon">
                        <p class="vacancy__meta-location">New York</p>
                        <img src="../../img/About/vacancy_meta-divider.svg" alt="icon" class="vacancy__meta-divider">
                        <img src="../../img/About/vacancy_meta-clock.svg" alt="icon" class="vacancy__meta-clock">
                        <p class="vacancy__meta-employment">Full Time</p>
                    </div>
                    <p class="vacancy__meta-position">Financial Compliance Analyst</p>
                </div>
                <button class="vacancy__meta-btn">Apply now</button>
            </div>

            <div class="vacancy__card" id="manager">
                <div class="vacancy">
                    <div class="vacancy__meta">
                        <img src="../../img/About/vacancy_meta-icon.svg" alt="icon" class="vacancy__meta-icon">
                        <p class="vacancy__meta-location">New York</p>
                        <img src="../../img/About/vacancy_meta-divider.svg" alt="icon" class="vacancy__meta-divider">
                        <img src="../../img/About/vacancy_meta-clock.svg" alt="icon" class="vacancy__meta-clock">
                        <p class="vacancy__meta-employment">Full Time</p>
                    </div>
                    <p class="vacancy__meta-position">Project Manager - Buildings</p>
                </div>
                <button class="vacancy__meta-btn">Apply now</button>
            </div>

            <div class="vacancy__card" id="specialist">
                <div class="vacancy">
                    <div class="vacancy__meta">
                        <img src="../../img/About/vacancy_meta-icon.svg" alt="icon" class="vacancy__meta-icon">
                        <p class="vacancy__meta-location">New York</p>
                        <img src="../../img/About/vacancy_meta-divider.svg" alt="icon" class="vacancy__meta-divider">
                        <img src="../../img/About/vacancy_meta-clock.svg" alt="icon" class="vacancy__meta-clock">
                        <p class="vacancy__meta-employment">Full Time</p>
                    </div>
                    <p class="vacancy__meta-position">Environment Specialist</p>
                </div>
                <button class="vacancy__meta-btn">Apply now</button>
            </div>

            <div class="vacancy__card" id="accountant">
                <div class="vacancy">
                    <div class="vacancy__meta">
                        <img src="../../img/About/vacancy_meta-icon.svg" alt="icon" class="vacancy__meta-icon">
                        <p class="vacancy__meta-location">New York</p>
                        <img src="../../img/About/vacancy_meta-divider.svg" alt="icon" class="vacancy__meta-divider">
                        <img src="../../img/About/vacancy_meta-clock.svg" alt="icon" class="vacancy__meta-clock">
                        <p class="vacancy__meta-employment">Full Time</p>
                    </div>
                    <p class="vacancy__meta-position">Accountant</p>
                </div>
                <button class="vacancy__meta-btn">Apply now</button>
            </div>

        </div>

        <div class="subscribe">
            <h3 class="subscribe__title">
                Didn’t find what you were looking for?
            </h3>
            <p class="subscibe__text">
                Send your CV or subscribe to our newsletter to receive information about new vacancies.
            </p>
            <div class="subscibe__buttons">
                <button class="subscibe__subscibe-btn">Subscribe</button>
                <button class="subscribe__submit-btn">Send CV</button>
            </div>
        </div>

    </section>

    <section class="benefits">
        <h2 class="benefits__title">Employee benefits</h2>
        <h3 class="benefits__subtitle">There’s always room for talent.</h3>
        <div class="boxes">
            <div class="box">
                <img src="../../img/About/benefits_box-icon-brains.svg" alt="icon" class="box__icon">
                <h4 class="box__title">Training</h4>
                <p class="box__text">
                    Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
                </p>
            </div>

            <img src="./img/boxes_divider.png" alt="line" class="box__divider">

            <div class="box">
                <img src="../../img/About/benefits_box-icon-growth.svg" alt="icon" class="box__icon">
                <h4 class="box__title">Professional Growth</h4>
                <p class="box__text">
                    Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
                </p>
            </div>

            <img src="./img/boxes_divider.png" alt="line" class="box__divider">

            <div class="box">
                <img src="../../img/About/benefits_box-icon-money.svg" alt="icon" class="box__icon">
                <h4 class="box__title">Growing Salary</h4>
                <p class="box__text">
                    Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
                </p>
            </div>
        </div>
    </section>

    <section class="application">
    
        <fieldset class="app__form">

            <div class="app__form-container">

                <h2 class="app__form-title">A quick way to discuss details</h2>

                <div class="app__form-input">
                    <p class="app__form-input-label">Name*</p>
                    <input type="text" class="form__input" placeholder="Your name">
                </div>

                <div class="app__form-input">
                    <p class="app__form-input-label">Phone*</p>
                    <input type="text" class="form__input" placeholder="Your phone number">
                </div>

                <div class="app__form-input">
                    <p class="app__form-input-label">Email</p>
                    <input type="text" class="form__input" placeholder="Your working email">
                </div>

                <div class="app__form-input">
                    <p class="app__form-input-label">Message*</p>
                    <input type="text" class="form__input" placeholder="Your message">
                </div>

                <div class="checkbox__form">
                    <input type="checkbox" class="checkbox">
                    <p class="checkbox__span">
                        I agree to receive communications from Createx Construction Bureau.
                    </p>
                </div>
                
                <button class="submit-btn">Send request</button>

            </div>

        </fieldset>

    </section>

    <footer class="footer">

        <div class="footer__container">

            <div class="block1">

                <div class="block1__mission">
                    <div class="block1__mission-logo">
                        <img src="../../img/footer_logo.svg" alt="logo" class="mission-logo">
                        <ul class="block1__mission-socials">
                            <li class="social-icon">
                                <img src="../../img/footer_WhatsApp-icon.svg" alt="icon" class="social-icon-whatsapp">
                            </li>
                            <li class="social-icon">
                                <img src="../../img/footer_Messenger-icon.svg" alt="icon" class="social-icon-messenger">
                            </li>
                            <li class="social-icon">
                                <img src="../../img/footer_Facebook-icon.svg" alt="icon" class="social-icon-facebook">
                            </li>
                            <li class="social-icon">
                                <img src="../../img/footer_Twitter-icon.svg" alt="icon" class="social-icon-twitter">
                            </li>
                            <li class="social-icon">
                                <img src="../../img/footer_Youtube-icon.svg" alt="icon" class="social-icon-twitter">
                            </li>
                        </ul>
                    </div>
                    <p class="block1__mission-text">
                        Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service. Our mission is to set the highest standards for construction sphere.
                    </p>
                </div>

                <div class="block1__subsribe">
                    <p class="subscribe__label">Let's stay in touch</p>
                    <div class="subscribe__block">
                        <input type="text" class="subscibe__form" placeholder="Your email address">
                        <button class="subscribe__btn">subscribe</button>
                    </div>
                    <span class="subscribe__comment">
                        *Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.
                    </span>
                </div>

            </div>

            <div class="block2">

                <div class="address">
                    <p class="heading">head office</p>
                    <p class="line"><span>Address: </span>8502 Preston Rd. Inglewood, New York</p>
                    <p class="line"><span>Call: </span>(405) 555-0128</p>
                    <p class="line"><span>Email: </span>hello@createx.com</p>
                </div>

                <div class="contacts">
                    <p class="heading">who we are</p>
                    <ul class="lines">
                        <li class="line">About us</li>
                        <li class="line">Available Position</li>
                        <li class="line">Contacts</li>
                    </ul>
                </div>

                <div class="experience">
                    <p class="heading">our experience</p>
                    <ul class="lines">
                        <li class="line">Services</li>
                        <li class="line">Work</li>
                        <li class="line">News</li>
                    </ul>
                </div>

            </div>

            <div class="block3">

                <div class="copyright">
                    <p class="copyright-span">© All rights reserved. Made with <span><img src="../../img/footer_heart-icon.svg" alt="icon" class="heart-icon"></span> by Createx Studio </p>
                </div>

                <div class="navigation-btn">
                    <p class="navigation-span">GO TO TOP</p>
                    <img src="../../img/footer_up-btn.svg" alt="icon" class="up-btn">
                </div>

            </div>

        </div>

    </footer>

    <!-- <section class="popup__subscribe">
        <img src="../../img/Popup-Subscribe/close-btn.png" alt="icon" class="popup__close-btn">
        <h2 class="popup__subscribe-title">Subscribe to our newsletter</h2>
        <div class="popup__data-input">
            <div class="popup-input-form">
                <p class="popup__label">Name*</p>
                <input class="popup__input" type="text" name="name" id="name" placeholder="Your name" required></input>
            </div>
            
            <div class="popup-input-form">
                <p class="popup__label">Email*</p>
                <input class="popup__input" type="email" name="email" id="email" placeholder="Your working email" required></input>
            </div>
        </div>
        <button class="submit-form-btn">SEND</button>
    </section> -->

    <div class="popup">

        <section class="popup__container">

          <h2 class="popup__title">Subscribe to our newsletter</h2>

          <img src="../../img/Popup-Subscribe/close-btn.png" alt="icon" class="popup__close-button">

          <form class="popup__form" name="popup__form">

            <div class="popup-input-form" id="name">
                <p class="popup__label">Name*</p>
                <input class="popup__input" type="text" name="name" placeholder="Your name">
            </div>

            <div class="popup-input-form" id="email">
                <p class="popup__label">Email*</p>
                <input class="popup__input" type="text" name="email" placeholder="Your working email">
            </div>

            <button class="popup__submit-button" type="submit">SEND</button>

          </form>
        </section>
      </div>
    
    <script src="../../js/script.js"></script>

</body>
</html>