<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./about.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>
<body>
 
    <header class="header">
        <nav class="header__navbar">

            <a href="/index.html" class="header__navbar-logo-link">
                <img src="/img/About/header_logo.svg" alt="logo" class="header__navbar-logo">
            </a>

            <nav class="header__navbar-menu">
                <a class="navbar-menu-item" href="/components/About/about.html">About Us</a>
                <a class="navbar-menu-item" href="/components/Services/services.html">Services</a>
                <a class="navbar-menu-item" href="/components/Work/work.html">Work</a>
                <a class="navbar-menu-item" href="/components/News//news.html">News</a>
                <a class="navbar-menu-item" href="/components/Contacts/contacts.html">Contacts</a>
            </nav>

            <div class="navbar-call">
                <div class="navbar-call-block" id="navbar-call-phone">
                    <img src="/img/About/header_mob.phone-icon.svg" alt="icon" class="navbar-call-icon">
                    <div class="navbar__contact">
                        <div class="navbar-call-label">Call us</div>
                        <div class="navbar-call-contact">(405) 555-0128</div>
                    </div>
                </div>

                <div class="navbar-call-block" id="navbar-call-email">

                    <img src="/img/About/header_chat-icon.svg" alt="icon" class="navbar-call-icon">
                    <div class="navbar__contact">
                        <div class="navbar-call-label">Talk to us</div>
                        <div class="navbar-call-contact">hello@createx.com</div>
                    </div>
                </div>
            </div>

        </nav>
    </header>

    <main class="main">

        <section class="intro">

            <div class="intro__container">

                <nav class="navigation__links">
                    <a href="/index.html" class="navigation__link" id="visited">Homepage</a>
                    <p class="navigation__links_divider">/</p><a href="#" class="navigation__link">About us</a>
                </nav>

                <h1 class="intro__title">ABOUT US</h1>

                <p class="intro__text">
                    Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service.
                </p>

            </div>

        </section>

        <scetion class="statistics">

            <div class="statistics__item">
                <img src="../../img/About/item_like-icon.svg" alt="icon" class="item__icon">
                <p class="item__value">60%</p>
                <p class="item__text">Clients on the recommendation of friends</p>
            </div>

            <div class="statistics__item">
                <img src="../../img/About/item_painting-icon.svg" alt="icon" class="item__icon">
                <p class="item__value">2400+</p>
                <p class="item__text">Apartments renovated</p>
            </div>

            <div class="statistics__item">
                <img src="../../img/About/item_helmet-icon.svg" alt="icon" class="item__icon">
                <p class="item__value">670</p>
                <p class="item__text">Qualified specialists</p>
            </div>

            <div class="statistics__item">
                <img src="../../img/About/item_color-palette-icon.svg" alt="icon" class="item__icon">
                <p class="item__value">150000+ m2</p>
                <p class="item__text">Finishing work was carried out</p>
            </div>

        </scetion>

        <section class="CEO">
            <img src="../../img/About/CEO_photo.png" alt="img" class="CEO__img">

            <div class="CEO__quote">
                <img src="../../img/About/CEO_quotation.png" alt="img" class="CEO__quote-text">
                <img src="../../img/About/CEO_signature.png" alt="img" class="CEO__quote-signature">
            </div>
        </section>

        <div class="background">
            <section class="values">
                <h2 class="title">Our core values</h2>
                <h3 class="subtitle">Our mission is to set the highest standards for construction sphere.</h3>
                <div class="boxes">
                    <div class="box">
                        <img src="../../img/About/boxes_like-icon.svg" alt="icon" class="box__icon">
                        <h4 class="box__title">Quality</h4>
                        <p class="box__text">
                            Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
                        </p>
                    </div>
        
                    <img src="../../img/About/boxes_divider.png" alt="line" class="divider">
        
                    <div class="box">
                        <img src="../../img/About/boxes_hand-icon.svg" alt="icon" class="box__icon">
                        <h4 class="box__title">Safety</h4>
                        <p class="box__text">
                            Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
                        </p>
                    </div>
        
                    <img src="../../img/About/boxes_divider.png" alt="line" class="divider">
        
                    <div class="box">
                        <img src="../../img/About/boxes_slippers-icon.svg" alt="icon" class="box__icon">
                        <h4 class="box__title">Comfort</h4>
                        <p class="box__text">
                            Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
                        </p>
                    </div>
                </div>
            </section>

            <section class="history">

                <h2 class="history__title">Our history</h2>

                <div class="slider">
                    <img src="../../img/About/history_slider_arrow-prev-btn.svg" alt="icon" class="slider-arrow-left">
                    <img src="../../img/About/history_slider-arrow-next-btn.svg" alt="icon" class="slider-btn">
                </div>

                <div class="history__info">

                    <div class="history__data">

                        <div class="timeline">
                            <img src="../../img/About/history_timeline.svg" alt="img" class="timeline__line">
                        </div>
                    </div>

                    <div class="timeline__info">
                        <img src="../../img/About/history_image.png" alt="img" class="timeline__info-img">

                        <p class="timeline__info-text">
                            Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
                        </p>
                    </div>

                </div>

            </section>
        </div>

        <!-- Our partners -->
        <section class="clients"> 
                <h2 class="clients__title">Our partners</h2>
                <p class="clients__text">
                    We are supported by 12+ industry bodies and media partners
                </p>
                <div class="clients__block">
                    <img src="../../img/About/partners_logo1.svg" alt="icon" class="client__icon">
                    <img src="../../img/About/partners_logo2.svg" alt="icon" class="client__icon">
                    <img src="../../img/About/partners_logo3.svg" alt="icon" class="client__icon">
                    <img src="../../img/About/partners_logo4.svg" alt="icon" class="client__icon">
                    <img src="../../img/About/partners_logo5.svg" alt="icon" class="client__icon">
                    <img src="../../img/About/partners_logo6.svg" alt="icon" class="client__icon">
                </div>

                <div class="clients__block">
                    <img src="../../img/About/partners_Atlantis-logo.svg" alt="icon" class="client__icon">
                    <img src="../../img/About/partners_Del Mar-logo.svg" alt="icon" class="client__icon">
                    <img src="../../img/About/partners_Complete-Health-logo.svg" alt="icon" class="client__icon">
                    <img src="../../img/About/partners_National-Health-logo.svg" alt="icon" class="client__icon">
                    <img src="../../img/About/partners_Ultimate-Gym-logo.svg" alt="icon" class="client__icon">
                    <img src="../../img/About/partners_United-Strategy-logo.svg" alt="icon" class="client__icon">
                </div>
        </section>

        <section class="team">

            <h2 class="team__title">Our team</h2>

            <h3 class="team__subtitle">
                People are at the heart of Createx Construction Bureau
            </h3>

            <div class="team__employees">
                <div class="team__employee">
                    <img src="../../img/About/team_employee_CEO.png" alt="photo" class="team__employee-img">
                    <p class="team__employee-name">Courtney Alexander</p>
                    <p class="team__employee-position">CEO, Co-Founder</p>
                </div>

                <div class="team__employee">
                    <img src="../../img/About/team_employee_CTO.png" alt="photo" class="team__employee-img">
                    <p class="team__employee-name">Calvin Fox</p>
                    <p class="team__employee-position">CTO, Co-Founder</p>
                </div>

                <div class="team__employee">
                    <img src="../../img/About/team_employee_Commercial-Manager.png" alt="photo" class="team__employee-img">
                    <p class="team__employee-name">Johnny Lane</p>
                    <p class="team__employee-position">Commercial Manager</p>
                </div>

                <div class="team__employee">
                    <img src="../../img/About/team_employee_HR.png" alt="photo" class="team__employee-img">
                    <div class="popup__socials">
                        <div class="popup__social-icons">
                            <img src="../../img/About/team_employee_HR-Linked-In.svg" alt="icon" class="popup__social-icon">
                            <img src="../../img/About/team_employee_HR-Twitter.svg" alt="icon" class="popup__social-icon">
                            <img src="../../img/About/team_employee_HR-Facebook.svg" alt="icon" class="popup__social-icon">
                        </div>
                    </div>
                    <p class="team__employee-name">Diane Mccoy</p>
                    <p class="team__employee-position">Director of Human Resources</p>
                </div>

                <div class="team__employee">
                    <img src="../../img/About/team_employee_Lead-Accountant.png" alt="photo" class="team__employee-img">
                    <p class="team__employee-name">Judith Warren</p>
                    <p class="team__employee-position">Lead Accountant</p>
                </div>

                <div class="team__employee">
                    <img src="../../img/About/team_employee_Financial-Director.png" alt="photo" class="team__employee-img">
                    <p class="team__employee-name">Floyd Simmmons</p>
                    <p class="team__employee-position">Finacial Director</p>
                </div>

                <div class="team__employee">
                    <img src="../../img/About/team_employee_Marketing-Director.png" alt="photo" class="team__employee-img">
                    <p class="team__employee-name">Serenity Edwards</p>
                    <p class="team__employee-position">Director of Marketing</p>
                </div>

                <div class="team__employee">
                    <img src="../../img/About/team_employee_Tech-Lead.png" alt="photo" class="team__employee-img">
                    <p class="team__employee-name">Shawn Edwards</p>
                    <p class="team__employee-position">Tech Lead</p>
                </div>
            </div>

            <div class="team__vacancy">
                <p class="team__vacancy-text">
                    Become a part of the best team in the construction market of the USA.
                </p>
                <a href="/components/About/about-available-positions.html" class="team__vacancy-link">Available Positions</a>
            </div>

        </section>

        <section class="map">
            <h2 class="map__title">We work worldwide</h2>
            <img src="../../img/About/map.svg" alt="img" class="map__img">
        </section>

        <section class="application">
        
            <fieldset class="app__form">

                <div class="app__form-container">

                    <h2 class="app__form-title">A quick way to discuss details</h2>

                    <div class="app__form-input">
                        <p class="app__form-input-label">Name*</p>
                        <input type="text" class="form__input" placeholder="Your name">
                    </div>

                    <div class="app__form-input">
                        <p class="app__form-input-label">Phone*</p>
                        <input type="text" class="form__input" placeholder="Your phone number">
                    </div>

                    <div class="app__form-input">
                        <p class="app__form-input-label">Email</p>
                        <input type="text" class="form__input" placeholder="Your working email">
                    </div>

                    <div class="app__form-input">
                        <p class="app__form-input-label">Message*</p>
                        <input type="text" class="form__input message" placeholder="Your message">
                    </div>

                    <div class="checkbox__form">
                        <input type="checkbox" class="checkbox">
                        <p class="checkbox__span">
                            I agree to receive communications from Createx Construction Bureau.
                        </p>
                    </div>
                    
                    <button class="application__submit-btn">Send request</button>

                </div>

            </fieldset>

        </section>

        <footer class="footer">
            <div class="footer__container">
                <div class="block1">
                    <div class="block1__mission">
                        <div class="block1__mission-logo">
                            <img src="../../img/About/footer_logo.svg" alt="logo" class="mission-logo">
                            <ul class="block1__mission-socials">
                                <li class="social-icon">
                                    <img src="../../img/About/footer_WhatsApp-icon.svg" alt="icon" class="social-icon-whatsapp">
                                </li>
                                <li class="social-icon">
                                    <img src="../../img/About/footer_Messenger-icon.svg" alt="icon" class="social-icon-messenger">
                                </li>
                                <li class="social-icon">
                                    <img src="../../img/About/footer_Facebook-icon.svg" alt="icon" class="social-icon-facebook">
                                </li>
                                <li class="social-icon">
                                    <img src="../../img/About/footer_Twitter-icon.svg" alt="icon" class="social-icon-twitter">
                                </li>
                                <li class="social-icon">
                                    <img src="../../img/About/footer_Youtube-icon.svg" alt="icon" class="social-icon-twitter">
                                </li>
                            </ul>
                        </div>
                        <p class="block1__mission-text">
                            Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service. Our mission is to set the highest standards for construction sphere.
                        </p>
                    </div>

                    <div class="block1__subsribe">
                        <p class="subscribe__label">Let's stay in touch</p>
                        <div class="subscribe__block">
                            <input type="text" class="subscibe__form" placeholder="Your email address">
                            <button class="subscribe__btn">subscribe</button>
                        </div>
                        <span class="subscribe__comment">
                            *Subscribe to our newsletter to receive communications and early updates from Createx Construction Bureau.
                        </span>
                    </div>

                </div>

                <div class="block2">
                    <div class="address">
                        <p class="heading">head office</p>
                        <p class="line"><span>Address: </span>8502 Preston Rd. Inglewood, New York</p>
                        <p class="line"><span>Call: </span>(405) 555-0128</p>
                        <p class="line"><span>Email: </span>hello@createx.com</p>
                    </div>

                    <div class="contacts">
                        <p class="heading">who we are</p>
                        <ul class="lines">
                            <li class="line">About us</li>
                            <li class="line">Available Positions</li>
                            <li class="line">Contacts</li>
                        </ul>
                    </div>

                    <div class="experience">
                        <p class="heading">our experience</p>
                        <ul class="lines">
                            <li class="line">Services</li>
                            <li class="line">Work</li>
                            <li class="line">News</li>
                        </ul>
                    </div>
                </div>

                <div class="block3">
                    <div class="copyright">
                        <p class="copyright-span">© All rights reserved. Made with <span><img src="../../img/About/footer_heart-icon.svg" alt="icon" class="heart-icon"></span> by Createx Studio </p>
                    </div>

                    <div class="navigation-btn">
                        <p class="navigation-span">GO TO TOP</p>
                        <img src="../../img/About/footer_up-btn.svg" alt="icon" class="up-btn">
                    </div>
                </div>
            </div>
        </footer> 

    </main>
    
</body>
</html>