<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./about-available-positions.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <title>About - Available Positions</title>
</head>
<body>

    <header class="header">
        <nav class="header__navbar">
            <img src="../../img/header_logo.svg" alt="logo" class="header__navbar-logo">
            <ul class="header__navbar-menu">
                <li class="navbar-menu-item">About Us</li>
                <li class="navbar-menu-item">Services</li>
                <li class="navbar-menu-item">Work</li>
                <li class="navbar-menu-item">News</li>
                <li class="navbar-menu-item">Contacts</li>
            </ul>
            <div class="navbar-call">

                <div class="navbar-call-block" id="navbar-call-phone">

                    <img src="../../img/header_mob.phone-icon.svg" alt="icon" class="navbar-call-icon">

                    <div class="navbar__contact">
                        <div class="navbar-call-label">Call us</div>
                        <div class="navbar-call-contact">(405) 555-0128</div>
                    </div>

                </div>

                <div class="navbar-call-block" id="navbar-call-email">

                    <img src="../../img/header_chat-icon.svg" alt="icon" class="navbar-call-icon">

                    <div class="navbar__contact">
                        <div class="navbar-call-label">Talk to us</div>
                        <div class="navbar-call-contact">hello@createx.com</div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="intro">

        <div class="intro__container">

            <nav class="navigation__links">
                <a href="#" class="navigation__link" id="visited">Homepage</a>
                <p class="navigation__links_divider">/</p>
                <a href="#" class="navigation__link" id="visited">About us</a>
                <p class="navigation__links_divider">/</p>
                <a href="#" class="navigation__link">Available positions</a>
            </nav>

            <h1 class="intro__title">AVAILABLE POSITIONS</h1>

            <p class="intro__text">
                Build your career with Createx Construction Bureau.
            </p>

        </div>

    </section>

    <section class="vacansies">

        <div class="vacansies__container">

            <div class="vacancy__card" id="operator">
                <div class="vacancy">
                    <div class="vacancy__meta">
                        <img src="" alt="" class="vacancy__meta-icon">
                        <p class="vacancy__meta-location">New York</p>
                        <img src="" alt="" class="vacancy__meta-divider">
                        <img src="" alt="" class="vacancy__meta-clock">
                        <p class="vacancy__meta-employment">Full WTime</p>
                    </div>
                </div>
                <button class="vacancy__meta-btn">Apply now</button>
            </div>

            <div class="vacancy__card" id="analyst">
                <div class="vacancy">
                    <div class="vacancy__meta">
                        <img src="" alt="" class="vacancy__meta-icon">
                        <p class="vacancy__meta-location">New York</p>
                        <img src="" alt="" class="vacancy__meta-divider">
                        <img src="" alt="" class="vacancy__meta-clock">
                        <p class="vacancy__meta-employment">Full WTime</p>
                    </div>
                </div>
                <button class="vacancy__meta-btn">Apply now</button>
            </div>

            <div class="vacancy__card" id="manager">
                <div class="vacancy">
                    <div class="vacancy__meta">
                        <img src="" alt="" class="vacancy__meta-icon">
                        <p class="vacancy__meta-location">New York</p>
                        <img src="" alt="" class="vacancy__meta-divider">
                        <img src="" alt="" class="vacancy__meta-clock">
                        <p class="vacancy__meta-employment">Full WTime</p>
                    </div>
                </div>
                <button class="vacancy__meta-btn">Apply now</button>
            </div>

            <div class="vacancy__card" id="specialist">
                <div class="vacancy">
                    <div class="vacancy__meta">
                        <img src="" alt="" class="vacancy__meta-icon">
                        <p class="vacancy__meta-location">New York</p>
                        <img src="" alt="" class="vacancy__meta-divider">
                        <img src="" alt="" class="vacancy__meta-clock">
                        <p class="vacancy__meta-employment">Full WTime</p>
                    </div>
                </div>
                <button class="vacancy__meta-btn">Apply now</button>
            </div>

            <div class="vacancy__card" id="accountant">
                <div class="vacancy">
                    <div class="vacancy__meta">
                        <img src="" alt="" class="vacancy__meta-icon">
                        <p class="vacancy__meta-location">New York</p>
                        <img src="" alt="" class="vacancy__meta-divider">
                        <img src="" alt="" class="vacancy__meta-clock">
                        <p class="vacancy__meta-employment">Full WTime</p>
                    </div>
                </div>
                <button class="vacancy__meta-btn">Apply now</button>
            </div>

        </div>

        <div class="subscribe">
            <h3 class="subscribe__title">
                Didn’t find what you were looking for?
            </h3>
            <p class="subscibe__text">
                Send your CV or subscribe to our newsletter to receive information about new vacancies.
            </p>
            <div class="subscibe__buttons">
                <button class="subscibe__subscibe-btn"></button>
                <button class="subscribe__submit-btn"></button>
            </div>
        </div>

    </section>
    
</body>
</html>